In [1]:
from pathlib import Path

import polars as pl
import numpy as np

DATA_DIR = Path("../../data/")

### [176. Second Highest Salary](https://leetcode.com/problems/second-highest-salary/)

In [2]:
dfs=[pl.read_csv(DATA_DIR / file) for file in ["176_1.csv", "176_2.csv"]]
print(*dfs)

shape: (3, 2)
┌─────┬────────┐
│ id  ┆ salary │
│ --- ┆ ---    │
│ i64 ┆ i64    │
╞═════╪════════╡
│ 1   ┆ 100    │
│ 2   ┆ 200    │
│ 3   ┆ 300    │
└─────┴────────┘ shape: (1, 2)
┌─────┬────────┐
│ id  ┆ salary │
│ --- ┆ ---    │
│ i64 ┆ i64    │
╞═════╪════════╡
│ 1   ┆ 100    │
└─────┴────────┘

MySQL
```mysql
select max(salary) as SecondHighestSalary
from Employee
where salary < (select max(salary) from Employee)
```

In [4]:
def lc_176(df: pl.DataFrame) -> pl.DataFrame:
    return (
        df.filter(pl.col("salary") < pl.max("salary"))
        .select(pl.max("salary").alias("SecondHighestSalary"))
    )
    
print(*[lc_176(df) for df in dfs])

shape: (1, 1)
┌─────────────────────┐
│ SecondHighestSalary │
│ ---                 │
│ i64                 │
╞═════════════════════╡
│ 200                 │
└─────────────────────┘ shape: (1, 1)
┌─────────────────────┐
│ SecondHighestSalary │
│ ---                 │
│ i64                 │
╞═════════════════════╡
│ null                │
└─────────────────────┘

### [184. Department Highest Salary](https://leetcode.com/problems/department-highest-salary/)

In [6]:
df_department = pl.read_csv(DATA_DIR / "184_department.csv")
df_employee = pl.read_csv(DATA_DIR / "184_employee.csv")
print(df_employee, df_department)

shape: (5, 4)
┌─────┬───────┬────────┬──────────────┐
│ id  ┆ name  ┆ salary ┆ departmentId │
│ --- ┆ ---   ┆ ---    ┆ ---          │
│ i64 ┆ str   ┆ i64    ┆ i64          │
╞═════╪═══════╪════════╪══════════════╡
│ 1   ┆ Joe   ┆ 70000  ┆ 1            │
│ 2   ┆ Jim   ┆ 90000  ┆ 1            │
│ 3   ┆ Henry ┆ 80000  ┆ 2            │
│ 4   ┆ Sam   ┆ 60000  ┆ 2            │
│ 5   ┆ Max   ┆ 90000  ┆ 1            │
└─────┴───────┴────────┴──────────────┘ shape: (2, 2)
┌─────┬───────┐
│ id  ┆ name  │
│ --- ┆ ---   │
│ i64 ┆ str   │
╞═════╪═══════╡
│ 1   ┆ IT    │
│ 2   ┆ Sales │
└─────┴───────┘

MySQL
```mysql
with e as (
    select *, rank() over (partition by departmentId order by salary desc) as r
    from Employee)
select d.name as "Department", e.name as "Employee", e.salary as "Salary"
from e inner join Department as d
    on e.departmentId = d.id
where r = 1
```

In [14]:
print(
    df_employee.group_by("departmentId")
    .map_groups(lambda g: g.top_k(1, by="salary"))
    .join(df_department, left_on="departmentId", right_on="id")
    .select(
        pl.col("name_right").alias("Department"), 
        pl.col("name").alias("Employee"),
        pl.col("salary").alias("Salary")
    )
)

shape: (2, 3)
┌────────────┬──────────┬────────┐
│ Department ┆ Employee ┆ Salary │
│ ---        ┆ ---      ┆ ---    │
│ str        ┆ str      ┆ i64    │
╞════════════╪══════════╪════════╡
│ IT         ┆ Jim      ┆ 90000  │
│ Sales      ┆ Henry    ┆ 80000  │
└────────────┴──────────┴────────┘

In [22]:
print(
    df_employee.group_by("departmentId")
    .agg(pl.col("salary").max())
    .join(df_department, left_on="departmentId", right_on="id")
    .join(df_employee, on=("departmentId", "salary"))
    .select(
        pl.col("name").alias("Department"),
        pl.col("name_right").alias("Employee"),
        pl.col("salary").alias("Salary")
    )
)

shape: (3, 3)
┌────────────┬──────────┬────────┐
│ Department ┆ Employee ┆ Salary │
│ ---        ┆ ---      ┆ ---    │
│ str        ┆ str      ┆ i64    │
╞════════════╪══════════╪════════╡
│ IT         ┆ Jim      ┆ 90000  │
│ Sales      ┆ Henry    ┆ 80000  │
│ IT         ┆ Max      ┆ 90000  │
└────────────┴──────────┴────────┘